.square {
  background: #fff;
  border-width: 1px;
  border-color: #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 42px;
  height: 42px;
  margin-right: 3px;
  margin-top: 3px;
  padding: 0;
  text-align: center;
  width: 42px;
}

.game {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}